= @page.content.html_safe

.map
  a.dg-widget-link href="http://2gis.kz/ustkam/firm/12807639721371786/center/82.55386590957643,50.0090215145286/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap"  Посмотреть на карте Усть-Каменогорска
  .dg-widget-link
    a href="http://2gis.kz/ustkam/firm/12807639721371786/photos/12807639721371786/center/82.55386590957643,50.0090215145286/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos"  Фотографии компании
  .dg-widget-link
    a href="http://2gis.kz/ustkam/center/82.553864,50.008764/zoom/16/routeTab/rsType/bus/to/82.553864,50.008764╎ПромСнабОборудование, ТОО?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route"  Найти проезд до ПромСнабОборудование, ТОО

coffee:
  $(document).on 'ready page:load', ->
    new DGWidgetLoader(
      'width': 640
      'height': 600
      'borderColor': '#a3a3a3'
      'pos':
        'lat': 50.0090215145286
        'lon': 82.55386590957643
        'zoom': 16
      'opt': 'city': 'ustkam'
      'org': [ { 'id': '12807639721371786' } ])