html, body
  min-height: 100vh
  height: auto
  font-size: 100%

#bg
  height: 100%
  width: 100%
  position: fixed
  top: 0
  left: 0
  background: asset_url("background.png") center no-repeat
  background-size: cover

.site-wrapper
  min-height: 100vh
  height: auto
  padding-bottom: 60px
  margin-bottom: -60px

footer
  width: 100%
  height: 60px
  line-height: 60px
  color: #fff
  background-color: #2655A3

*:focus
  box-shadow: none !important
  outline: none !important


.logo
  width: 290px
  height: 100px
  line-height: 100px
  position: relative
  .logo_left
    width: 40%
    margin-right: 10%
  .logo_right
    width: 40%
    margin-left: 10%
  .logo_gif
    position: absolute
    top: 50%
    left: 50%
.nav-pills
  & > li
    background-color: #2655A3
    border: 1px solid #2655A3
    height: 40px
    a
      display: block
      width: 100%
      color: #fff
      font-weight: bold
      &.active, &.active:hover,  &:hover
        background-color: #fff !important
        transition: background-color 0.5s linear
        color: #2655A3


.well
  border-radius: 0 !important
  color: #fff

.modal-content
  border-radius: 0 !important
  height: 275px

.login-form
  max-width: 400px

.success_message
  display: none
  
.nav-stacked
  margin-bottom: 20px !important

.preloader
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: #fff
  z-index: 100

.logo-gif
  z-index: 101
  width: 200px
  height: 200px
  margin: -100px 0 0 -100px
  position: absolute
  top: 50%
  left: 50%
  background: asset_url('logo.gif') center no-repeat